<div class="container">
  <header>
    <h1 class="title">Contact Us</h1>
  </header>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <form novalidate v-on="submit: submit(contact)">
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" v-model="contact.name">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" v-model="contact.email">
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input class="form-control" v-model="contact.phone">
        </div>
        <div class="form-group">
          <label>Details</label>
          <textarea class="form-control" rows="6" v-model="contact.body"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-default">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <iframe width="380" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=494+C+Wando+Park+Boulevard,+Mount+Pleasant,+SC&amp;aq=0&amp;oq=494+C+wando+park+,&amp;sll=32.841231,-79.867948&amp;sspn=0.013936,0.017982&amp;gl=us&amp;ie=UTF8&amp;hq=&amp;hnear=494+Wando+Park+Blvd,+Mt+Pleasant,+South+Carolina+29464&amp;t=m&amp;z=14&amp;ll=32.841231,-79.867948&amp;output=embed"></iframe>
      <p>
        <address>
          494 C Wando Park Boulevard
          Mount Pleasant, SC  29464
        </address>
        <br />
        Phone:
        843.606.6484
        <br />
        Email:
        <a href='mailto://info@jackrussellsoftware.com'>info@jackrussellsoftware.com</a>
        <br />
        Twitter:
        <a href='http://twitter.com/jackhq'>@jackhq</a>
      </p>
    </div>
  </div>
</div>
