body
  font-family: monospace
  color: #312904

h2, h3, h4
  color: #312904
a, a:visited
  color: #965507
  text-decoration: none

#nav
  ul
    list-style: none
    li
      display: inline
.links
  margin-top: 5px
  list-style: none
  float: right
  li
    display: inline
    margin: 0
    padding: 0
    a
      img
        height: 32px
        width: 32px

dl
  width: 400px
  dt
    float: right
    width: 340px
    background-color: #dfdfdf
  dd.image
    float: left
  dd.description
    margin-left: 60px

#footer
  color: #965507
