body
  font-family: monospace
  color: #312904

h2, h3, h4
  color: #312904

#nav
  ul
    list-style: none
    li
      display: inline
      a, a:visited
        color: #965507
        text-decoration: none

dl
  width: 400px
  dt
    float: right
    width: 340px
    background-color: #dfdfdf
  dd.image
    float: left
  dd.description
    margin-left: 60px

#footer
  color: #965507