.prefix_2.grid_8
  #community
    %h2 Community
    %p
      At Jack Russell Software, we have some of the finest Ruby on Rails Developers
      in Charleston.  And we are constantly striving to better our craft as well as
      reach out to the community to learn and share experiences in Software Development.
    %h3 Local Participation
    %p
      The second Thursday of every month we host the Ruby Users Group Meetup.  
      You can find out more about the Charleston Ruby Group #{ "<a href='http://charlestonruby.org'>here.</a>" }
    %p
      We are happy to sponsor and encourage local development hacking by sponsoring
      and participating in events like #{ "<a href='http://barcampchs.org'>BarCampCHS</a>" }
      and #{ "<a href='http://www.facebook.com/pages/SuperHappyDevHouse-CHS/182758535071729?v=wall&filter=2'>Super Happy Dev House</a>" }
    %h3 Open Source Community
    %p
      We also are very passionate about "Open Source" and sharing and contributing to open source projects.
      Not only to we use several open source technologies we constantly submit patches and contribute
      to all kinds of open source projects.  We have also created applications and projects that are
      released as open source for usage.

    %p
      %a{:href => 'http://html2haml.heroku.com'} Html2Haml 
      is one of our most popular applications that 
      is used by 200 developers a day to help them work with Haml a clean dsl for HTML.
.clear
