#contact
  .grid_7
    :plain
      <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

      <script type="text/javascript">
      var z7x3k1 = new WufooForm();
      z7x3k1.initialize({
      'userName':'jackhq', 
      'formHash':'z7x3k1', 
      'autoResize':true,
      'height':'594'});
      z7x3k1.display();
      </script>
  .grid_5          
    :plain
      <iframe width="380" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?hl=en&amp;gl=us&amp;ie=UTF8&amp;msa=0&amp;ll=37.0625,-95.677068&amp;spn=23.875,57.630033&amp;msid=218245560033178701663.00049b9d18a1a689e869e&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?hl=en&amp;gl=us&amp;ie=UTF8&amp;msa=0&amp;ll=37.0625,-95.677068&amp;spn=23.875,57.630033&amp;msid=218245560033178701663.00049b9d18a1a689e869e&amp;source=embed" style="color:#0000FF;text-align:left">Jack Russell Software Company</a> in a larger map</small>
    %p
      %address
        1067 Cliffwood Drive
        Mount Pleasant, SC  29464
      %br
      Phone:
      843.469.5856
      %br
      Email:
      %a{:href => 'mailto://info@jackrussellsoftware.com'} info@jackrussellsoftware.com
      %br
      Twitter:
      %a{:href => 'http://twitter.com/jackhq' } @jackhq

