#contact
  %h2 Contact Us

  %p
    %address
      1067 Cliffwood Drive
      Mount Pleasant, SC  29464
    %br
    Phone:
    843.469.5856
    %br
    Email:
    %a{:href => 'mailto://info@jackrussellsoftware.com'} info@jackrussellsoftware.com
    %br
    Twitter:
    %a{:href => 'http://twitter.com/jackhq' } @jackhq

