.container
  .offset-by-one.seven.columns
    %ul
      - @team.each_with_index do |mate, index|
        - if (index % 2) == 0 
          = haml :tile, :locals => { :mate => mate }
  .seven.columns
    %ul
      - @team.each_with_index do |mate, index|
        - if (index % 2) > 0 
          = haml :tile, :locals => { :mate => mate }
  .clear
