!!! 5
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %title= "Jack Russell Software - #{@title}"
    %meta{:name => 'description', :content => @content }
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}

  %body
    .container
      #header
        %a{:href => 'http://www.jackhq.com'}
          %img{:src => '/images/jackhq-logo.png', :alt => 'jack russell software'}
        %p Developing Awesome mobile and web applications for HealthcareIT
 
      #nav
        %ul
          %li
            %a{:href => '/'} Team
          %li
            %a{:href => '/philosophy'} Philosophy
          %li
            %a{:href => '/community'} Community
          %li
            %a{:href => '/contact'} Contact
      = yield
      #footer
        %ul
          %li
            %a{:href => 'http://jackhq.tumblr.com' } Blog
          %li
            %a{:href => 'http://github.com/jackhq' } Github
          %li
            %a{:href => 'http://twitter.com/jackhq' } Twitter
