!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
    
    / Site
    %title Jack Russell Software Company
    %meta{:content => "", :name => "author"}
    %meta{:content => "", :name => "description"}
    
    / CSS
    %link{:href => "http://cdn.jsdelivr.net/foundation/5.0.2/css/foundation.css", :rel => "stylesheet"}
    %link{:href => "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", :rel => "stylesheet"}

    / FAVICON
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "/images/apple-touch-icon.png", :rel => "apple-touch-icon"}
    %link{:href => "/images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "/images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
  
  %body

    %header.top-bar{:role => "banner"}
      .row
        %h1.title-area
          %a.name{:href => '/'} JRS
        %nav.top-bar-section
          %ul.right
            %li 
              %a{:href => "#team"} Team
            %li 
              %a{:href => "#philosophy"} Philosophy
            %li 
              %a{:href => "#community"} Community
            %li 
              %a{:href => "#contact"} Contact

    %section.logo
      .row.text-center
        %h2 
          %img{:src => '/images/jackhq-logo.png', :alt => 'Jack Russell Software'}
        %h3
          A Division of CareKinesis, Inc

    %main#content{:role => "content"}

      %section.team
        = yield(:team)

      %section.philosohpy
        / # = render partial: "philosohpy"
      /   = render(partial: "views/philosohpy.haml")

      / %section.community
      /   = render template: "community"

      / %section.contact
      /   = render template: "contact"
              

    %footer#footer{:role => "contentinfo"}

      #footer
        .container
          .sixteen.columns
            %ul
              %li
                %a{:href => 'http://jackhq.tumblr.com' } Blog
              %li
                %a{:href => 'http://github.com/jackhq' } Github
              %li
                %a{:href => 'http://twitter.com/jackhq' } Twitter
      %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"} 
      :javascript
        window.jQuery || document.write("<script src='javascripts/jquery-1.5.1.min.js'>\x3C/script>")
      
      %script{ :src => "/javascripts/jquery.fittext.js"}
      %script{ :src => "/javascripts/app.js"}
      :javascript
        $(document).ready(function() {
          $("#responsive_headline").fitText(1.8);
        });

