#philosophy
  %h2 Jack Russell Software Philosophy

  %h3 Agile Methodology
  %p
    Agile is not only a development methodology, but a it is a state of mine.  It
    is the williness to accept that all software is able to change.  With this mindset
    we embrace the change and realize the importance and need for change in software.

    We also embrace the methodology of executing what is necessary via feedback and 
    usability testing, vs waterfall methodologies.

  %h3 Technology
  %p 
    At Jack Russell Software we develop web and mobile application using the
    Ruby on Rails Web Framework, along with Coffee-Script, Sass and Haml.  These
    are technologies carefully chosen and picked for maintainability and productivity.

  %h3 Pair Programming
  %p
    All Production code written for our clients are produced in a pair programming
    environment.  This environment enables for two talented professionals to work
    side by side to produce quality code with much fewer defects than single development
    practices.

  %h3 Test Driven Development
  %p
    At Jack Russell Software we practice test driven development, which means tests
    are built before the production code is written.  This is a tool that not only
    helps in code structure and management, but creates a regression test suite and
    descriptive documentation.
