#contact.container
  .offset-by-one.seven.columns
    :plain
      <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

      <script type="text/javascript">
      var z7x3k1 = new WufooForm();
      z7x3k1.initialize({
      'userName':'jackhq', 
      'formHash':'z7x3k1', 
      'autoResize':true,
      'height':'594'});
      z7x3k1.display();
      </script>
  .five.columns
    :plain
      <iframe width="380" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=494+C+Wando+Park+Boulevard,+Mount+Pleasant,+SC&amp;aq=0&amp;oq=494+C+wando+park+,&amp;sll=32.841231,-79.867948&amp;sspn=0.013936,0.017982&amp;gl=us&amp;ie=UTF8&amp;hq=&amp;hnear=494+Wando+Park+Blvd,+Mt+Pleasant,+South+Carolina+29464&amp;t=m&amp;z=14&amp;ll=32.841231,-79.867948&amp;output=embed"></iframe>

    %p
      %address
        494 C Wando Park Boulevard
        Mount Pleasant, SC  29464
      %br
      Phone:
      843.881.2171
      %br
      Email:
      %a{:href => 'mailto://info@jackrussellsoftware.com'} info@jackrussellsoftware.com
      %br
      Twitter:
      %a{:href => 'http://twitter.com/jackhq' } @jackhq

