!!! 5
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    /
      Basic Page Needs
      \==================================================
    %meta{:charset => "utf-8"}/
    %title Jack Russell Software Company
    %meta{:content => "", :name => "description"}
      %meta{:content => "", :name => "author"}
        /[if lt IE 9]
          %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
        /
          Mobile Specific Metas
          \==================================================
        %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
        /
          CSS
          \==================================================
        %link{:href => "/stylesheets/base.css", :rel => "stylesheet"}/
        %link{:href => "/stylesheets/skeleton.css", :rel => "stylesheet"}/
        %link{:href => "/stylesheets/layout.css", :rel => "stylesheet"}/
        %link{:href => "/stylesheets/app.css", :rel => "stylesheet"}/
        
        /
          Favicons
          \==================================================
        %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
        %link{:href => "/images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
        %link{:href => "/images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
        %link{:href => "/images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
  %body
    #page
      #header
        .container
          .sixteen.columns
            %h1 
              %a{:href => 'http://www.jackhq.com'}
                %img{:src => '/images/jackhq-logo.png', :alt => 'Jack Russell Software'}

            %h3#responsive_headline 
              A Division of 
              %a{ :href => 'http://carekinesis.com', }
                CareKinesis, Inc
          %hr
      #nav
        .container
          .sixteen.columns
            %ul
              %li
                %a{:href => '/'} Team
              %li
                %a{:href => '/philosophy'} Philosophy
              %li
                %a{:href => '/community'} Community
              %li
                %a{:href => '/contact'} Contact

      #main
        = yield
      #footer
        .container
          .sixteen.columns
            %ul
              %li
                %a{:href => 'http://jackhq.tumblr.com' } Blog
              %li
                %a{:href => 'http://github.com/jackhq' } Github
              %li
                %a{:href => 'http://twitter.com/jackhq' } Twitter
      %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"} 
      :javascript
        window.jQuery || document.write("<script src='javascripts/jquery-1.5.1.min.js'>\x3C/script>")
      
      %script{ :src => "/javascripts/jquery.fittext.js"}
      %script{ :src => "/javascripts/app.js"}
      :javascript
        $(document).ready(function() {
          $("#responsive_headline").fitText(1.8);
        });

