.container
  #philosophy.offset-by-four.eight.columns
    %h3 Agile Methodology
    %p
      Agile is not only a development methodology, but it is a state of mind.  Agile
      is the willingness to accept that all software is able to change.  With this mindset,
      we embrace the change and realize the importance and need for change in software.
    %p
      Waterfall methodologies of predicting and scoping entire systems tends to over complicate
      applications.  Using Agile we are able to provide minimum features and test usability,
      then modify as the system is being used.
    %p
      This technique allows the users to start using the system sooner as well as be
      involved in the evolution of the software to maximize their effectiveness.

    %h3 Technology
    %p
      At Jack Russell Software we develop web and mobile application using the
      Ruby on Rails Web Framework, along with Coffee-Script, Sass and Haml.  These
      are technologies carefully chosen and picked for maintainability and productivity
      excellence.

    %h3 Pair Programming
    %p
      All Production code written for our clients is produced in a pair programming
      environment.  Pair Programming is the practice of two developers sharing one screen,
      and one task to accomplish with precision and quality.  This environment produces quality
      code with much fewer defects than single development practices.

    %h3 Test Driven Development
    %p
      At Jack Russell Software we practice test driven development, which means tests
      are built before the production code is written.  This is a tool that not only
      helps in code structure and management, but creates a regression test suite and
      descriptive documentation.  It also enables your architecture to change and adapt
      with confidence of maintaining the integrity of your business rules.

    %h3 Cloud Management
    %p
      We manage all of our applications in the cloud using Amazon Web Services and Heroku to
      provide cost-effective, scalable solutions that remove the burden of IT management from
      our clients.  We have been working with the Cloud since 2007 and are experts in this area.
.clear
