@import 'bootstrap/dist/css/bootstrap.css';

body {
  font-family: 'Roboto', sans-serif;
  color: rgba(0,0,0, .7);
}

.title {
  text-align: center;
}

.main {
  margin-bottom:20px;
}

.navbar-nav li {
  padding-left:9px;
  padding-right:9px;
}

.team-boxes {
  margin-left:4%;
  margin-right:4%;
}
